# compiled output
/backend/dist
/backend/node_modules

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*
/backend/public

# OS
/backend/.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json



# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/frontend/*~
/frontend/*.sw[mnpcod]
/frontend/.tmp
/frontend/*.tmp
/frontend/*.tmp.*
/frontend/UserInterfaceState.xcuserstate
/frontend/$RECYCLE.BIN/

/frontend/*.log
/frontend/log.txt


/frontend/.sourcemaps
/frontend/.versions
/frontend/coverage

# Ionic
/frontend/.ionic
/frontend/www
/frontend/platforms
/frontend/plugins

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log

# IDEs and editors
/frontend/.idea/
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-project
/frontend/*.sublime-workspace

# Visual Studio Code
/frontend/.vscode/*
/frontend/!.vscode/settings.json
/frontend/!.vscode/tasks.json
/frontend/!.vscode/launch.json
/frontend/!.vscode/extensions.json
/frontend/.history/*


# Miscellaneous
/frontend/.angular
/frontend/.angular/cache
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/testem.log
/frontend/typings

# System files
/frontend/.DS_Store
/frontend/Thumbs.db
