ion-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
  justify-content: center;
}


ion-item {
  border-radius: 25px;

}
h2{
  font-family: 'Mona Sans';
}
ion-item::part(native) {
  height: 90px;
}

.bg-img {
  border-radius: 25px;
  margin-top: auto;
  height: 200px;
  width: 100% !important;
  @media (min-width: 576px) {
    margin-top: 10px;
    /* height: 200px !important; */
  }
}
