<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-avatar slot="start">
      <img src="/assets/fulltimeforcelogo.png" />
    </ion-avatar>
    <ion-title class="ion-text-center">Testing APP </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadCommits()">
        <ion-icon name="refresh-outline"></ion-icon>
        Refresh
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row>
    <ion-col
      size="12"
      size-sm="8"
      offset-sm="2"
      size-md="6"
      offset-md="3"
      size-lg="6"
      offset-lg="3"
    >
      <img src="/assets/github-commits.jpg" class="bg-img" />
    </ion-col>
    <ion-col
      size="12"
      size-sm="8"
      offset-sm="2"
      size-md="6"
      offset-md="3"
      size-lg="6"
      offset-lg="3"
    >
      <ng-container *ngIf="vm$ | async as vm">
        <ion-row>
          <ion-col size="12">
            <h2>Lists of commits</h2>
          </ion-col>
        </ion-row>
        <ion-list *ngIf="vm.isLoading">
          <ion-item *ngFor="let i of [1,2,3,4,5,6,7]">
            <ion-label>
              <ion-skeleton-text
                animated
                style="width: 100"
              ></ion-skeleton-text>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text></p
            ></ion-label>
          </ion-item>
        </ion-list>
        <ion-spinner name="bubbles" *ngIf="vm.isLoading"></ion-spinner>
        <ion-list *ngIf="vm.commits.length else triggerRefresh">
          <ion-item *ngFor="let commit of vm.commits" class="ion-margin">
            <ion-label text-wrap
              >{{commit.message}}
              <p>{{commit.date | date: 'dd/MM/YYYY HH:MM'}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ng-template #triggerRefresh>
          <ion-item *ngIf="!vm.isLoading">
            <ion-label text-wrap
              >To obtain the commits please click on refresh button
              <ion-icon name="refresh-outline"></ion-icon
            ></ion-label>
          </ion-item>
        </ng-template>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
